.overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay2:target {
    visibility: visible;
    opacity: 1;
}

.popup2 {
    margin: 15% auto;
    padding: 10px 5px;
    background-image: url(https://media.istockphoto.com/id/1199391451/vector/paw-print-vector-illustration.jpg?s=612x612&w=0&k=20&c=ZFa-1inw6WkXKpy43nVHGe2rBCroqiw9K0TvBcNNQmI=);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}
.DonatePopup2 {
    margin: 15% auto;
    padding: 50px;
    background-image: url(https://media.istockphoto.com/id/1199391451/vector/paw-print-vector-illustration.jpg?s=612x612&w=0&k=20&c=ZFa-1inw6WkXKpy43nVHGe2rBCroqiw9K0TvBcNNQmI=);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 40%;
    min-width: 350px;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: start;
}

.popup2 h2, .DonatePopup2 h2 {
    margin: 1%;
    color: #073DAA;
    font-family: Tahoma, Arial, sans-serif;
}

.popup2 .close, .DonatePopup2 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup2 .close:hover , .DonatePopup2 .close:hover {
    color: red;
}

.popup2 .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 1000px){
    .box{
        width: 90%;
    }
    .popup2{
        width: 90%;
    }
}

.FormInput {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8px;
}

.DonationLink {
    font-size: 1em;
    font-weight: 800;
}

.Warning {
    color: red;
}