* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJg57rpVqorBaQ5H5I3z7MfkWgeVIobrXzCQ&usqp=CAU);
  background-attachment: fixed;
  background-position: center;
  background-size:cover;

}

.Background {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJg57rpVqorBaQ5H5I3z7MfkWgeVIobrXzCQ&usqp=CAU);
  padding: 1%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.NavBackground {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt0KsyQv5YwZXalff-qFUxzk_C_rL80pkG3w&usqp=CAU);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.FlexBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}

h1, h2, h3, h4 {
  color:#073DAA;
}

p {
  text-align:center;
  color: #073DAA;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #073DAA;
}

a {
  color:#073DAA;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a:hover, .CDPS:hover {
  color: purple;
  filter: drop-shadow(6px 6px 3px #fd6ee0);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

li {
  margin: 5px;
  color:purple;
  font-style: 16px;
  text-align: start;
}

.TableLink {
  font-size: 18px;
  text-decoration: underline;
  color: lightskyblue;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.TableLink:hover {
  color: white;
  filter: drop-shadow(6px 6px 3px white);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.TableLink:visited {
  text-decoration: none;
  color: lightskyblue;
}
.TableLink:visited:hover {
  text-decoration: none;
  color: white;
}

.TitleBox {
  margin-top: 10px;
  padding: 5px;
  border: 3px solid #073DAA;
  border-bottom: none;
  background-image: url(https://wallpapercave.com/wp/wp2731327.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.TitleBox h1, .TitleBox h3{
  color: white;
}

.PetTable, .EventTable, .AdoptTable{
  width: 30%;
  min-width: 370px;
  border: 3px solid #073DAA;
  border-top: none;
  background-image: url(https://wallpapercave.com/wp/wp2731327.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

thead {
  background-color: #073DAA;
  color: white;
}

th {
  font-size: 24px;
  padding: 8px;
}

td {
  text-align: start;
  font-size: 16px;
  padding: 0 6px;
}
tbody{
  height:20px
}

.Title {
  font-size: 40px;
  font-weight: 800;
}

.video {
  width: 65%;
  min-width: 360px;
  aspect-ratio: 16/9;
}

.NavTitle {
  display: flex;
  flex-wrap: wrap;
  font-size:1.625rem;
  font-weight: 800;
  line-height: 90%; 
  color:#073DAA;
}

.NavTitle:hover , .AllPets:hover {
  color: purple;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.ActionNavTitle {
  font-size:1.625rem;
  font-weight: 800;
  line-height: 150%; 

  background: linear-gradient(90deg, #073DAA, lightSkyBlue, #073DAA);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 2.5s linear infinite;
  background-clip:text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.ActionNavTitle:hover {
  animation: none;
  background-size: 100%;
  background-clip: text;
}

/***** Global Slide *****/
.slide-right, .slide-left {
  width: 100%;
}

/***** Slide Right *****/
.slide-right {
  animation: 3s slide-right;
  margin-bottom: 2%;  
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

/***** Slide Left *****/
.slide-left {
  animation: 3s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

/***** Misc Styles *****/
.TitleContainer {
  width:  90%;
  min-width: 370px;
  margin: 5% auto;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px  #073DAA;
  margin-top: 30px;
  border: 2px solid  #073DAA;
  border-radius: 15px;
  text-align: center;
  background-image: url(https://media.istockphoto.com/id/1276581591/vector/cute-simple-seamless-pattern-with-paw-prints.jpg?s=612x612&w=0&k=20&c=qRxqN8NX0Q0VkLOOj0NCysIZZ37328M4W2Kze2Xofro=);
}

/***** FadeIn Underline *****/
.line {
  border-bottom: 3px solid  #073DAA;
  width: 200px;
  margin: 10px auto;
}

.fade-in {
  animation: fadeIn ease 10s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* display for phone only */
  @media only screen and (min-width:500px) {
    .mobile-only {
      display:none !important;
    }
  }

  @media only screen and (max-width:1026px) {
    .desktop-only {
      display:none !important;
    }
  }

.FlierContainer{
  width: 60%;
  margin:0 auto;
}

.FlierFlex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 0;
}

.FlierInfo {
  width: 370px;
  text-align: start;
}

.FlierImg {
  animation: 6s slide-right;
  max-width: 400px;
  min-width: 370px;
}

.FlierDivide {
  width: 85%;
  margin:0 auto;
}

.AboutMeTitle {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.GitHub {
  width: 45%;
  min-width: 350px;
  padding: 3px;
  margin: 15px 0;
}

.AboutMePic {
  width: 375px;
  padding: 3px;
  margin: 15px 0;
}

.MailPic {
  width: 200px;
  padding: 3px;
  margin: 15px 0;
  border: 2px solid #073DAA;
  border-radius: 50%;
}

