/* // Buttons //*/

.EnterButton {
    padding: 5px;
    color: white;
    background-color: #073DAA;
    border: 2px solid black;
    border-radius: 5px;
}

.DeleteButton {
    display: block;
    margin: 0 auto;
    box-shadow:0 8px 12px 0 rgba(0, 0, 0, 0.70);
}

  /* .DeleteButton:focus,  */
.DeleteButton:hover {
    animation: wobble 1.5s 1;
}

.Adopt:hover, .Deets:hover{
    animation: wobble 1.5s 1;
}

@keyframes wobble {
    25% {
    transform: rotate(5deg);
    }
    50% {
    transform: rotate(-8deg);
    }
    75% {
    transform: rotate(3deg);
    }
    100% {
    transform: rotate(0deg);
    }
}

.EnteranceCard {
    width: 45%;
    min-width: 360px;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow:0 8px 12px 0 rgba(0, 0, 0, 0.70);
}

.EnteranceCard:hover {
    animation:wobble 1.5s 1;
}

.EditButton {
    width: 134px;
    margin:0 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #073DAA;
    cursor: pointer;
    color: white;
    font-weight: 800;
    box-shadow:0 8px 12px 0 rgba(0, 0, 0, 0.70);
}

.SubmitButton:hover,.LiveFeed:hover,.ViewButton:hover,.EditButton:hover,.LikeButton:hover, .Return:hover,.EnterButton:hover {
    color: white;
    box-shadow:0 8px 12px 0 #fd6ee0;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.SubmitButton,.ViewButton:hover {
    color: #073DAA;
}

.SubmitButton,.ViewButton {
    width: 134px;
    margin:0 10px;
    padding: 5px;
    border: 1px solid #073DAA;
    border-radius: 5px;
    background-color: white;
    color: #073DAA;
    font-weight: 800;
    cursor: pointer;
    box-shadow:0 8px 12px 0 rgba(0, 0, 0, 0.70);
}


.LikeButton {
    width: 134px;
    margin:0 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: palevioletred;
    color: white;
    font-weight: 800;
    cursor: pointer;
    max-height: 30px ;
    box-shadow:0 8px 12px 0 rgba(0, 0, 0, 0.70);
}

.LiveFeed {
    background-image: url(https://i.gifer.com/9XLg.gif);
    background-position: center;
    background-size: cover;
    width: 180px;
    height:40px;
    border: 2px solid black;
    background-color: #073DAA;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow:0 8px 12px 0 rgba(0, 0, 0, 0.70);
}