.counters {
    background: url('https://i.pinimg.com/originals/3c/24/46/3c24462450c2a902bf7e18f3d9aada81.jpg');
	color: #fff;
	padding: 10px 20px;
	border: 3px lightskyblue solid;
    border-radius: 15px;
    width: 80%;
    margin:0 auto;
}

.counters .CounterContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.counters .counter {
    font-size: 35px;
}

