/* // footer style // */

.FooterHr {
    background-color:  #073DAA;
    height: 3px; 
    margin-bottom: 10px;
}

.List1, .List2 {
    font-size: 16px;
    color: #073DAA;
    list-style-type:none;
}

.FooterFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
}

.FooterLogos{
    /* padding-top: 20px; */
    color: #073DAA;
    font-size: 15px;
    font-weight: 800;
    width: 40%;
}

.Footer {
    padding: 3%;
    padding-top: 1%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJg57rpVqorBaQ5H5I3z7MfkWgeVIobrXzCQ&usqp=CAU);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    height: auto;
}

.social:hover {
    box-shadow:0 8px 12px 0 #fd6ee0;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}