/* // Forms // */

.Form {
    margin: auto;
    width: 40%;
    padding: 20px;
    font-size:"20px";
    font-weight:800;
    border: 8px double #073DAA;
    border-radius: 20px;
    background-image: url(https://media.istockphoto.com/id/1199391451/vector/paw-print-vector-illustration.jpg?s=612x612&w=0&k=20&c=ZFa-1inw6WkXKpy43nVHGe2rBCroqiw9K0TvBcNNQmI=);
    background-repeat: no-repeat;
    background-size: cover;
}

.FormAdopt {
    margin: 0 auto;
    width: 40%;
    padding: 20px;
    font-size:"20px";
    font-weight:800;
    border: 4px solid #073DAA;
    border-radius: 20px;
    background: none
}