.Wrapper {
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
	min-height:67vh;
    padding: 20px;
}

.LoginContainer{
	position:relative;
	width:40%;
	max-width: 450px;
    min-width: 370px;
	height:400px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
    box-shadow: 0 8px 50px 0 rgba(65, 132, 234, 0.5);
}

.LoginContainer::before{
	content: '';
	position:absolute;
	top: -29%;
	left: 49%;
	width: 100px;
	height:325px;
	background: linear-gradient(0deg,transparent,transparent,transparent,transparent, #45f3ff,#45f3ff,#45f3ff,#45f3ff,#073DAA,#073DAA);
	z-index:1;
	transform-origin: bottom left;
	animation: animate-border 6s linear infinite;
}

.LoginContainer::after{
	content: '';
	position:absolute;
	top: -29%;
	left: 49%;
	width: 100px;
	height:325px;
	background: linear-gradient(0deg,transparent,transparent,transparent, transparent,#45f3ff,#45f3ff,#45f3ff,#45f3ff,#073DAA,#073DAA);
	z-index:1;
	transform-origin: bottom left;
	animation: animate-border 6s linear infinite;
	animation-delay: -3s;
}

.borderLine {
	position: absolute;
	top: 0;
	inset:0;
	
}

.borderLine::before {
	content: '';
	position:absolute;
	top: -29%;
	left: 49%;
	width: 100px;
	height:325px;
	background: linear-gradient(0deg,transparent, transparent,transparent,transparent,#45f3ff,#45f3ff,#45f3ff,#45f3ff,#073DAA,#073DAA);
	z-index:1;
	transform-origin: bottom left;
	animation: animate-border 6s linear infinite;
	animation-delay:-1.5s;
	
}

.borderLine::after {
	content: '';
	position:absolute;
	top: -29%;
	left: 49%;
	width: 100px;
	height:325px;
	background: linear-gradient(0deg,transparent, transparent,transparent,transparent,#45f3ff,#45f3ff,#45f3ff,#45f3ff,#073DAA,#073DAA);
	z-index:1;
	transform-origin: bottom left;
	animation: animate-border 6s linear infinite;
	animation-delay:-4.5s;
	
}

@keyframes animate-border{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.formContainer {
	height:auto;
	position: absolute;
	inset:6px;
	background: #222;
	padding: 15px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}


.SmallText {
	color: #fff;
	font-weight:700;
	text-align:center;
    font-size: 1.8em;
    margin: 5px 0;
	/* letter-spacing: 0.1em; */
}
.BigText {
	color: red;
	font-weight:900;
	text-align:center;
	font-size: 1.8em;
}

.formation {
	margin-bottom:5px;
	display:flex;
	flex-direction:column;
}

.InputContainer {
    margin-top: 5px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sectionOne, .sectionTwo, .sectionThree, .sectionFour {
	margin-bottom:5px;
	display:flex;
	justify-content:center;
	align-items:center;
    flex-wrap: wrap;
}

.input {
	border-color:#45f3ff;
	border-radius:10px;
	min-width:140px;
	width:250px;
	height:30px;
	font-size:14px;
	background:transparent;
	color:#45f3ff;
	letter-spacing: 0.1em;
	padding:5px;
	margin:3px;
    padding-left:10px;
}

.input::placeholder {
    color:lightslategray;
}


label {
	color:#45f3ff;
	min-width:100px;
}

.buttonContainer {
	width:80%;
	margin: 15px auto;
}

button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button{
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
   	letter-spacing: 0.1em;
    cursor: pointer;
    margin: 5px auto;
    height: 30px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #45f3ff);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.5);
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button:focus{
 outline: none;	
}

.errors{
	text-shadow: red 2px 2px 10px ;
	color:red;
	font-weight:600;
	font-size:11px
}

#LoginH2  {
	margin: 15px 0;
	font-size: 2em;
	color:red;
	font-weight: 900;
}