/* wish list css */
.wishList, .Results {
    width: 47vw;
    min-width: 300px;
    border: 2px solid #073DAA;
    border-radius:5px;
}

.donate:hover{
    box-shadow:0 8px 12px 0 #fd6ee0;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}